/* 
    Document   : footerstyle
    Created on : Jan 4, 2013, 10:58:38 PM
    Author     : andrew
    Description:
        Purpose of the stylesheet follows.
*/

.aspacef {
    color: bisque;
    background-color: crimson;
    height: 100px;
    border: solid 1px #333366;
    clear: left;
    position: relative;
    border-top: 4px solid black;
}

.inftext {
    font-family: Verdana, sans-serif;
    font-style:italic;
    font-size:15px;
    position:absolute;
    left:40%;
    top: 30%;
    padding:0px;
}
