/* 
    Document   : heederstyle
    Created on : Jan 4, 2013, 5:21:23 PM
    Author     : andrew
    Description:
        Purpose of the stylesheet follows.
*/
.readtitle {
    font-family: Verdana, sans-serif;
    font-style:oblique;
    font-weight:bold;
    font-size:22px;
    text-indent:1em;
    clear:left;
    padding: 5px;
    margin: 10px;
    position:absolute;
    top: 10px;
    color: yellow;
}

.readtext {
    font-family: Verdana, sans-serif;
    font-style:normal;
    text-indent:1.1em;
    border:2px solid gold;
    padding: 5px;
    margin: 10px;
    clear:left;
    color: gold;
}

.choisediv {
    width: 24%;
    float: left;
    border-right: 4px solid black;
    margin-top: 0px;
}
 
.documentdiv {
    margin-top: 0px;
    margin-left: 24%;
    padding: 0.01em;
    width: 76%;
    border-left: 4px solid black;
    position: relative;
    background-image: url('/confluence/images/background/anigreen.gif');
    background-repeat: repeat;
}

.readbutton {
    width: 100px;
    margin: 15px;
}

.outerdiv {
    border: 4px solid black;
}

body {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    background-color: khaki;
}
